body {
  background: rgba(0, 0, 0, 0.2)
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.card, .card-img-top {
  border-radius: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron-products {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.copy, .social-link {
  font-size: 1.25em;
}

.social-link {
  color: #FFF;
  margin-right: 40px;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link:hover {
  color: rgba(0, 0, 0, 0.5)
}
